<a href="https://colab.research.google.com/github/blazejwiecha/Python_nauka_01/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(len("95637+12"))

In [ ]:
    score = 67
    if score < 80 and score > 70:
        print("A")
    elif score < 90 or score > 80:
        print("B")
    elif score > 60:
        print("C")
    else:
        print("D")

B

In [ ]:
def a_function(a_parameter):    
  a_variable = 15    
  return a_parameter 
  a_function(10)
print(a_variable)

In [ ]:
    def outer_function(a, b):
        def inner_function(c, d):
            return c + d
        return inner_function(a, b)
     
    result = outer_function(5, 10)
    print(result)

15

In [ ]:
    def foo(a, b=4, c=6):
        print(a, b, c)
     
    foo(20, c=12)

20 4 12

In [ ]:
    def all_aboard(a, *args, **kw): 
        print(a, args, kw)
     
    all_aboard(4, 7, 3, 0, x=10, y=64)

4 (7, 3, 0) {'x': 10, 'y': 64}

In [ ]:
    numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
    result = [num + 3 for num in numbers if num % 2 == 0]
    print(result)

[5, 11, 37]

In [ ]:
print("hello\nhello\nhello")

hello
hello
hello

In [ ]:
print("Hello" + " Blazej")

Hello Blazej

In [ ]:
Print("Czy możesz wejść na kolejkę ?")
wzrost = int(input("Podaj rozmiar w cm:"))

if wzrost >= 120:
  print("Tak, możesz")
else:
  print("No way , go to mummy")

In [ ]:
liczba = int(input("Podaj liczbę:"))

sprawdzenie_liczby = liczba % 2

print(sprawdzenie_liczby)

Podaj liczbę:5
1

In [ ]:
import random

random_integer = random.randint(1, 10000000)
print(random_integer)

7188918

In [ ]:
fruits = ["Strawberries", "Nectarines", "Apples", "Grapes", "Peaches", "Cherries", "Pears"]
fruits[-1] = "Melons"
fruits.append("Lemons")
print(fruits)

['Strawberries', 'Nectarines', 'Apples', 'Grapes', 'Peaches', 'Cherries', 'Melons', 'Lemons']

In [ ]:
fruits = ["Strawberries", "Nectarines", "Apples", "Grapes", "Peaches", "Cherries", "Pears"]
vegetables = ["Spinach", "Kale", "Tomatoes", "Celery", "Potatoes"]
 
dirty_dozen = [fruits, vegetables]
 
print(dirty_dozen[1][1])

Kale

# Nowa sekcja